<%= form_for [user, wiki] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control', :placeholder => "Enter wiki title"%>
  <%= f.label :body %>
  <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> 
        Private wiki
      <% end %>
    </div>
  <% else %>
    <b>Public wiki</b><br/>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
