<tr id="wiki-<%= wiki.id %>">
  <td><h4><%= wiki.title %><h4></td>
  <% if wiki.is_private? %>
    <td><h4><center>private</center><h4></td>
  <% else %>
    <td><h4><center>public</center><h4></td>
  <% end %>
  <td><h4><%= link_to "View", user_wiki_path(wiki.user_id, wiki.id) %></h4></td>
  <td><h4><%= link_to "Edit", edit_user_wiki_path(wiki.user_id, wiki.id) %></h4></td>  
  <% if wiki.user_id == current_user.id || current_user.is_admin? %>
    <td><h4><%= link_to "Delete", user_wiki_path(wiki.user_id, wiki.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></h4></td>
  <% end %>
  <% if wiki.is_private? && wiki.user_id == current_user.id%>
    <td><h4><%= link_to "Collaborators", wiki_select_collaborators_path(wiki.id) %></h4></td>
  <% end %>
</tr>