<%= form_tag charges_path do %>
   <h4>Upgrade to Premium account requires onetime payment of <%= number_to_currency(Amount.default/100) %>.</h4>
  <h4>Click the button to pay!</h4>
  <script class='stripe-button' 
    src="https://checkout.stripe.com/checkout.js" 
    data-key="<%= @stripe_btn_data[:key] %>" 
    data-amount=<%= @stripe_btn_data[:amount] %> 
    data-description="<%= @stripe_btn_data[:description] %>" >
  </script>
<% end %>
