<%= form_tag charges_path do %>
  <div class="row">
    <div class="col-md-3">
  </div>
  <div class="col-md-8">
    <h4>Upgrade to Premium account requires a payment of <%= number_to_currency(Amount.default/100) %>.</h4>
    <h4>Click the button to pay!</h4>
    <script class='stripe-button' 
      src="https://checkout.stripe.com/checkout.js" 
      data-key="<%= @stripe_btn_data[:key] %>" 
      data-amount=<%= @stripe_btn_data[:amount] %> 
      data-description="<%= @stripe_btn_data[:description] %>" >
    </script>
  </div>
<% end %>
